.background{
    background: url(../images/img.jpg) no-repeat;
    width: 100%;
    height: 100vh;  
}

.form-container{
    border:1px solid #fff;
    padding: 40px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 0px 50px 14px rgba(0,0,0,0.58); 
box-shadow: inset  2px 5px 16px 0px #0B325E, 0px 0px 50px 14px rgba(0,0,0,0.58);
}
.head1{
    color:#fff; 
    text-align: center;
    font-weight: bold;
}
*{
   color:#fff; 
}
